.DS_Store
.atom/
.dart_tool/
.idea/
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
pubspec.lock
gradle/
gradlew*
*.iml
flutter_export_environment.sh

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

example/.flutter-plugins-dependencies